h1{ text-align:center;
    color: white;
    font-family: 'Ranga', cursive;
    font-size:60px;
    }
body{background:black;
    background: url("https://i.pinimg.com/originals/a0/11/f2/a011f2aec58024b16cedb04ec734ebc9.jpg");
    }
h2{ color:red;
   font-family: 'Sedgwick Ave', cursive;
    font-size:40px;
    }
h3{color: white;
font-size:30px;
    }
img {border:double 20px;
    color:grey;
    }
p{ color:white;
font-size:30px;
    }
.music{
    color:white;
    text-align:center;
    }
.best{
    color:red;
    font-size:40px;
     font-family: 'Sedgwick Ave', cursive;
}
.picture1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.picture2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.picture3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.picture4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    
    